:root {
  --background1: #f5f6f8;
  --mainCovHeader: #8c52ff;
  --h1Fontcolor: #8c52ff;
  --inputFocColor: #7642dd;
  --buttonColor1: #5e17eb;
  --buttonColorHover1: #4200c5;
  --cardBackground: #c9aeff;
  --dashboardBack: #fefeff;
}
.maininde {
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-seri;
}
.maininde .uppercover {
  position: relative;
  min-height: calc(70vh - 93px);
  background-color: var(--background1);
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.maininde .uppercover .cov_text {
  flex: 1;
  z-index: 100;
  min-height: calc(70vh - 91px);
  padding: 40px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.maininde .uppercover .loginform {
  flex: 1;
  z-index: 100;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.maininde .uppercover .loginform .loginWrapper {
  background-color: #080f0dbf;
  min-width: 500px;
  border-radius: 25px;
  padding: 45px;
  color: #fff;
}
.maininde .uppercover .loginform .loginWrapper h1 {
  font-size: 23px;
  margin-bottom: 12px;
}
.maininde .uppercover .loginform .loginWrapper p {
  margin: 12px 0;
}
.maininde .uppercover .loginform .loginWrapper label {
  display: block;
  margin-bottom: 5px;
  font-size: 13px;
}
.maininde .uppercover .loginform .loginWrapper input {
  margin-bottom: 5px;
  width: 100%;
  padding: 7px;
  border-radius: 3px;
}
.maininde .uppercover .loginform .loginWrapper .butSec {
  width: 100%;
  display: flex;
  align-items: center;
  grid-column-gap: 10px;
}
.maininde .uppercover .loginform .loginWrapper button {
  width: 120px;
  text-align: center;
  padding: 8px 5px;
  margin-top: 10px;
  background-color: var(--buttonColor1);
  cursor: pointer;
  color: #fff;
  outline: none;
  border-radius: 8px;
  border: 1px solid transparent;
}
.maininde .uppercover .loginform .loginWrapper .butSec p {
  font-size: 13px;
  cursor: pointer;
}
.maininde .uppercover .cov_img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.maininde .uppercover .cov_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.maininde .uppercover .cov_text h1 {
  font-size: 60px;
  color: var(--mainCovHeader);
  margin-bottom: 25px;
  line-height: 50px;
}
.maininde .uppercover .cov_text h1 span.blackhe {
  font-family: "Open Sans", sans-seri;
  font-size: 56px;
  color: #525252;
}
.maininde .uppercover .cov_text h1 span {
  font-size: 32px;
  color: #fff;
  line-height: 30px;
  font-family: "Abhaya Libre", serif;
}
.maininde .uppercover .cov_text p {
  font-size: 28px;
  margin-bottom: 35px;
  text-align: left;
  font-weight: 600;
  color: #fff;
  width: 70%;
  font-family: "Abhaya Libre", serif;
}
.maininde .uppercover .cov_text h2 {
  font-family: "Abhaya Libre", serif;
  color: #fff;
  font-size: 33px;
}
.maininde .uppercover .cov_text .button {
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  grid-gap: 15px;
}
.maininde .uppercover .cov_text .button .buttele {
  padding: 8px;
  background-color: #fff;
  font-size: 16px;
  border-radius: 5px;
}
.maininde .uppercover .cov_text .button .buttele i {
  margin-right: 5px;
  font-size: 20px;
}
.maininde .uppercover .cov_text button {
  padding: 12px;
  width: 150px;
  border-radius: 3px;
  border: 1px solid transparent;
  background-color: var(--buttonColor1);
  outline: none;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s ease;
}
.maininde .uppercover .cov_text button:hover {
  background-color: var(--buttonColorHover1);
}
.maininde .uppercover .simple_footer {
  position: absolute;
  font-family: "Open Sans", sans-seri;
  bottom: 35px;
  font-size: 13px;
}
.maininde .uppercover .simple_footer h3 span a {
  color: var(--h1Fontcolor);
  text-decoration: none;
}
.maininde .cards_section {
  position: relative;
  width: 1100px;
  margin: -30px auto 30px;
  display: flex;
  flex-wrap: wrap;
}
.maininde .cards_section .cards_indi {
  flex: 0.33;
  padding: 35px 15px;
  background-color: #fff;
  text-align: center;
  transition: 0.3s ease;
}
.maininde .cards_section .cards_indi:nth-child(1),
.cards_indi:nth-child(2) {
  margin-right: 65px;
}
.maininde .cards_section .cards_indi .card_ic {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}
.maininde .cards_section .cards_indi .card_ic img {
  width: 80px;
  transition: 0.8s ease;
}
.maininde .cards_section .cards_indi h3 {
  margin-bottom: 15px;
  color: var(--h1Fontcolor);
}
.maininde .cards_section .cards_indi p {
  font-size: 13px;
  text-align: center;
}
.maininde .cards_section .cards_indi:hover {
  box-shadow: 0px 0px 12px 5px #eee;
}
.maininde .cards_section .cards_indi:hover .card_ic img {
  transform: translateY(-10px);
}

/*Popular subjects*/
.maininde .popular_subjects {
  width: 100%;
  padding: 75px 0;
}
.maininde .popular_subjects .main_container_co {
  width: 1200px;
  margin: 0 auto;
}
.maininde .popular_subjects .main_container_co .row_he {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  margin-bottom: 15px;
}
.maininde .popular_subjects .main_container_co .row_he h1 {
  font-size: 25px;
  color: var(--h1Fontcolor);
}
.maininde .popular_subjects .main_container_co .row_he button {
  cursor: pointer;
  border: 1px solid transparent;
  padding: 8px;
  width: 120px;
  background-color: var(--buttonColor1);
  font-weight: 600;
  border-radius: 3px;
  color: #fff;
  transition: 0.3s ease;
  outline: none;
}
.maininde .popular_subjects .main_container_co .row_he button:hover {
  background-color: var(--buttonColorHover1);
}
.maininde .popular_subjects .main_container_co .subject_area {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  grid-column-gap: 25px;
  justify-content: center;
  align-items: center;
}
.maininde .popular_subjects .main_container_co .subject_area .subject_in_cards {
  position: relative;
  width: 100%;
  height: 360px;
  background-color: #fff;
  border: 2px solid #e8e8e8;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
.maininde
  .popular_subjects
  .main_container_co
  .subject_area
  .subject_in_cards:hover {
  box-shadow: 0px 0px 12px 5px #e8e8e8;
}
.maininde
  .popular_subjects
  .main_container_co
  .subject_area
  .subject_in_cards
  .subject_head {
  position: relative;
  height: 190px;
  background: linear-gradient(to right, var(--mainCovHeader), #000);
  margin-bottom: 15px;
}
.maininde
  .popular_subjects
  .main_container_co
  .subject_area
  .subject_in_cards
  .subject_head
  .teach_img {
  width: 65px;
  height: 65px;
  position: absolute;
  bottom: -8px;
  right: 8px;
  border-radius: 50%;
}
.maininde
  .popular_subjects
  .main_container_co
  .subject_area
  .subject_in_cards
  .subject_head
  .teach_img
  img {
  width: 100%;
  height: 100%;
  overflow: 1;
}
.maininde
  .popular_subjects
  .main_container_co
  .subject_area
  .subject_in_cards
  .subject_head
  .subject_img {
  width: 100%;
  height: 100%;
}
.maininde
  .popular_subjects
  .main_container_co
  .subject_area
  .subject_in_cards
  .subject_head
  .subject_img
  img {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 1;
  object-fit: cover;
}
.maininde
  .popular_subjects
  .main_container_co
  .subject_area
  .subject_in_cards
  .subject_body {
  padding: 8px;
  text-align: center;
}
.maininde
  .popular_subjects
  .main_container_co
  .subject_area
  .subject_in_cards
  .subject_body
  h2 {
  font-size: 19px;
  margin-bottom: 10px;
  color: var(--h1Fontcolor);
}
.maininde
  .popular_subjects
  .main_container_co
  .subject_area
  .subject_in_cards
  .subject_body
  p {
  font-size: 15px;
  margin-bottom: 10px;
}
.maininde
  .popular_subjects
  .main_container_co
  .subject_area
  .subject_in_cards
  .subject_body
  .row_sim {
  margin-top: 12px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.maininde
  .popular_subjects
  .main_container_co
  .subject_area
  .subject_in_cards
  .subject_body
  h3 {
  font-size: 13px;
  font-weight: 500;
}
.maininde
  .popular_subjects
  .main_container_co
  .subject_area
  .subject_in_cards
  .subject_body
  h3
  i {
  margin-right: 10px;
}
.maininde
  .popular_subjects
  .main_container_co
  .subject_area
  .subject_in_cards
  .subject_tail {
  width: 100%;
  padding: 8px 5px;
  background-color: #eeeeee73;
  position: absolute;
  bottom: 0;
  z-index: 150;
  font-size: 12px;
}
.maininde
  .popular_subjects
  .main_container_co
  .subject_area
  .subject_in_cards
  .subject_tail
  p
  i {
  margin-right: 5px;
}
/*mid free*/
.maininde .mid_free {
  margin: 100px 0;
  padding: 100px 0;
  background-color: var(--background1);
  text-align: center;
}
.maininde .mid_free h3 {
  margin-bottom: 15px;
  font-weight: 500;
}
.maininde .mid_free h3 span {
  color: var(--h1Fontcolor);
  font-weight: 600;
}
.maininde .mid_free h1 {
  margin-bottom: 45px;
  color: var(--h1Fontcolor);
  font-size: 35px;
  font-weight: 500;
}
.maininde .mid_free button {
  padding: 10px;
  font-size: 14px;
  width: 120px;
  border-radius: 3px;
  background-color: var(--buttonColor1);
  border: 1px solid transparent;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease;
}
.maininde .mid_free button:hover {
  background-color: var(--buttonColorHover1);
}

/*Counter*/
.maininde .inde_counter {
  padding: 30px 30px;
}
.maininde .inde_counter h1 {
  font-size: 22px;
  margin-bottom: 15px;
  font-weight: 900;
  text-align: center;
}
.maininde .inde_counter .main_inde_counter {
  width: 1400px;
  margin: 0 auto;
}
.maininde .inde_counter .main_inde_counter .wr {
  display: flex;
  justify-content: space-evenly;
}
.maininde .inde_counter .main_inde_counter .counter_colu {
  flex: 0.33;
  padding: 14px 0;
  margin-right: 28px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  text-align: center;
  background-color: #fbfbfb;
}
.maininde .inde_counter .main_inde_counter .counter_colu h3 {
  font-size: 36px;
  color: #808080;
}
.maininde .inde_counter .main_inde_counter .counter_colu:last-child {
  margin-right: 0;
}
.maininde .inde_counter .main_inde_counter .counter_colu h2 {
  margin-top: 15px;
  font-size: 16px;
}
.maininde .inde_counter .main_inde_counter .counter_colu img {
  width: 50px;
}
/*new box*/
.maininde .inde_counter.new-box .main_inde_counter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.maininde .inde_counter.new-box {
  font-family: "Abhaya Libre", serif;
  margin-top: 20px;
}
.maininde .inde_counter.new-box .wr {
  width: 100%;
}
.maininde .inde_counter.new-box .main_inde_counter .title {
  padding: 25px;
  border: 1px solid var(--mainCovHeader);
  border-radius: 5px;
  width: 50%;
  margin-bottom: 30px;
  background-color: #fbfaff;
}
.maininde .inde_counter.new-box .main_inde_counter .title h1 {
  font-size: 30px;
  margin-bottom: 0;
}

.maininde .inde_counter.new-box .main_inde_counter .counter_colu img {
  margin-bottom: 12px;
}
.maininde .inde_counter.new-box .main_inde_counter .counter_colu h2 {
  font-size: 30px;
  margin-bottom: 12px;
  margin-top: 0;
}

.maininde .inde_counter.new-box .main_inde_counter .counter_colu h3 {
  font-size: 20px;
  color: #000;
}
.maininde .inde_counter.one {
  font-family: "Open Sans", sans-seri;
}
.maininde .inde_counter.one .main_inde_counter .title {
  background-color: #fbfaff;
}
.maininde .inde_counter.one .main_inde_counter .title h1 {
  font-size: 25px;
}
.maininde .inde_counter.one .main_inde_counter .counter_colu h2 {
  font-size: 16px;
  padding-bottom: 12px;
}
.maininde .inde_counter.one .main_inde_counter .counter_colu h3 {
  text-align-last: left;
  text-indent: 25px;
  font-size: 15px;
  color: var(--buttonColorHover1);
}
.maininde .inde_counter.cont {
  padding-top: 30px;
  margin-top: 0;
  margin-bottom: 60px;
}

/*get start*/
.maininde .get_start_sec {
  width: 100%;
  padding: 100px 0;
}
.maininde .get_start_sec .main_get_start {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}
.maininde .get_start_sec .main_get_start .get_start_column {
  flex: 0.4;
}
.maininde .get_start_sec .main_get_start .get_start_column:nth-child(1) {
  flex: 0.6;
  padding: 50px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.maininde .get_start_sec .main_get_start .get_start_column h1 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 45px;
  color: var(--h1Fontcolor);
}
.maininde .get_start_sec .main_get_start .get_start_column .get_row {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
}
.maininde
  .get_start_sec
  .main_get_start
  .get_start_column
  .get_row
  .row_columno {
  flex: 0.2;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.maininde
  .get_start_sec
  .main_get_start
  .get_start_column
  .get_row
  .row_columno
  img {
  width: 50px;
}
.maininde
  .get_start_sec
  .main_get_start
  .get_start_column
  .get_row
  .row_columnt {
  flex: 0.8;
}
.maininde
  .get_start_sec
  .main_get_start
  .get_start_column
  .get_row
  .row_columnt
  h3 {
  font-size: 17px;
  margin-bottom: 25px;
  font-weight: 600;
  color: var(--mainCovHeader);
}
.maininde
  .get_start_sec
  .main_get_start
  .get_start_column
  .get_row
  .row_columnt
  p {
  font-size: 15px;
}
.maininde .get_start_sec .main_get_start .get_start_column img {
  width: 100%;
  filter: grayscale(32%);
}
